<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditMode ? 'Edit Employee' : 'Add Employee' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()">
    <!-- Name Field -->
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="'text'" formControlName="name"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="employeeForm.get('name')?.invalid && employeeForm.get('name')?.touched">
      <span *ngIf="employeeForm.get('name')?.errors?.['required']">Name is required.</span>
      <span *ngIf="employeeForm.get('name')?.errors?.['minlength']">Name must be at least 3 characters.</span>
    </ion-text>

    <!-- Department Field -->
    <ion-item>
      <ion-label position="floating">Department</ion-label>
      <ion-input name="department" formControlName="department"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="employeeForm.get('department')?.invalid && employeeForm.get('department')?.touched">
      <span *ngIf="employeeForm.get('department')?.errors?.['required']">Department is required.</span>
    </ion-text>

    <!-- Position Field -->
    <ion-item>
      <ion-label position="floating">Position</ion-label>
      <ion-input name="position" formControlName="position"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="employeeForm.get('position')?.invalid && employeeForm.get('position')?.touched">
      <span *ngIf="employeeForm.get('position')?.errors?.['required']">Position is required.</span>
    </ion-text>

    <!-- Contact Field -->
    <ion-item>
      <ion-label position="floating">Contact</ion-label>
      <ion-input type="'tel'" formControlName="contact"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="employeeForm.get('contact')?.invalid && employeeForm.get('contact')?.touched">
      <span *ngIf="employeeForm.get('contact')?.errors?.['required']">Contact is required.</span>
      <span *ngIf="employeeForm.get('contact')?.errors?.['pattern']">Contact must be a 10-digit number.</span>
    </ion-text>

    <!-- Submit Button -->
    <ion-button expand="full" type="submit" [disabled]="employeeForm.invalid">
      Save
    </ion-button>
  </form>
</ion-content>